@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #8b5cf6;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
::selection {
  background: #7c3aed;
  color: white;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

input:focus,
textarea:focus {
  transition: 0.3s;
}